body{
    font-family: sans-serif;
    background-image: linear-gradient(-27deg , rgb(200, 255, 200), white, white);
}
body#projectbody{
    background-image: linear-gradient(-27deg , rgb(200, 255, 200),  white, white, white, white);
}
h1{
    text-align: center;
}
h2{
    /*text-decoration: underline;
    text-decoration-color: rgb(30, 192, 30);*/
}
h2{
    background-color: rgb(141, 199, 141);
    /*text-decoration: underline;
    text-decoration-color: rgb(30, 192, 30);*/
}
div#header{
    width: 100%;
    text-align: center;
}
div#subheader{
    margin:auto;
    width: 50%;
    /*min-width: 800px;*/
    text-align: center;
}
p{
    max-width: 600px;
}

ul.navlist{
    list-style-type: none;
    margin-top: 15px;
}
ul.navlist li{
    display: inline;
    min-width: 100px;
    margin-right: 20px;
}
div.text{
    margin:auto;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}
div.text ul{
    /*list-style-position: inside;
    margin-left: 0px;*/
}
img{
    max-width: 100%;
    /*margin:auto;*/
    height: auto;
}
img.border{
    border-width: medium;
    border-style: solid;
    border-color: rgb(141, 199, 141);
    margin-top: 15px;
}
a:link {
    color: black;
  }
  
a:visited {
    color: black;
  }
  
a:hover {
    color: rgb(30, 192, 30);
  }
  
a:active {
    color:  rgb(30, 192, 30);
  }

figure{
    margin-left:inherit;
}
figcaption{
    margin-bottom: 8px;
}
